<h1>Enpit mini project team B</h1>

<form action="<%= calculate_add_path %>" method="POST">
    <input type="input"  name="a">
    <input type="input"  name="b">
    <input type="submit" name="func" value = "+" >
    <input type="submit" name="func" value = "-" >
    <input type="submit" name="func" value = "*" >
    <input type="submit" name="func" value = "/" >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<% if ! @c.nil? %>
<h2>答え</h2>
<h3> <%= @c %>  </h3>
<% end %>
